.categorie__content{
    background-color: aquamarine;
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-columns: 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: 20px;

}
    
.categorie__title{
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
}